.section {
	font-size: 14px; 
	line-height: 1.4;
}

.column {
	width: max-content;
}

.reportbox {
	background-color: #F2F2F2; 
	display: block; 
	font-family: arial;
	line-height: 2;
	white-space: nowrap;
	width: auto;
}

.reportbox strong {
    font-family: copperplate;
	color: #1C398D;
	font-size: 15px;
}

.sub {
	margin: 30px 0px !important;
	background-color: #95AFC9; 
	color: white; 
	display: block; 
	padding: 6px 6px; 
	border-radius: 6px;
	white-space: nowrap;
	width: auto;
}

.tablehead {
	background-color: #333333;
    color: white;
}

.tree {
	display: "none";
}

.table .risk {
	background-color: #f2f2f2;
}

.table .fccount {
    background-color: #e6e6e6;
}

.table .ccount {
    background-color: #dddddd;
}

.table .url {
	background-color: #d4d4d4;
}

div p strong {
	color: #1C398D;
}

.lowrisk {
	font-weight: bold;
}

.highrisk {
	font-weight: bold;
	background-color: orange !important;
	color: white;
	padding: 3px;
}

.criticalrisk {
	font-weight: bold;
	background-color: red !important;
	color: white;
	padding: 3px;
}

.table-data > a {
	color: rgb(39, 74, 180);
	text-decoration: underline;
}

h1 > a {
	color: black;
}

td > a:hover {
	background-color: yellow;
	color: black;
	text-decoration: none;
}

.fa-fw {
	margin-right: 4px;
}

a:link {
	font-family: Trebuchet MS, Arial, sans-serif;
}

tr.tablehead th {
	color: white;
}

.table thead td {
	vertical-align: middle;
	border-bottom: 1px solid #b3b3b3;
	overflow: visible;
	overflow-x: scroll;
}

.tooltip {
	position: relative;
	display: inline;
	margin-left: 5px;
}
  
.tooltip span.tooltiptext {
	visibility: hidden;
	width: 350px;
	background-color: #e6e6e6;
	color: black;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 210%;
	left: 7px; 
	margin-left: -165px;
	overflow: visible;
	opacity: .6;
	font-size: 10px;
	border: 2px solid black;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 47%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

th .tooltip {
	position: relative;
	z-index: 30;
}

.table-container {
	overflow: visible;
}