body {
	padding-bottom: 50px;
}
.section {
	font-size: 13px; 
	line-height: 1.3;
}

#report-info-box.column {
	max-width: max-content;
	min-width: max-content;
}

.report-info-box {
	background-color: #F2F2F2; 
	display: block; 
	font-family: arial;
	font-size: 15px;
	line-height: 2.2;
	white-space: nowrap;
	width: auto;
}

.reportbox strong {
    font-family: copperplate;
	color: #1C398D;
	font-size: 16px;
}

#input-box {
	margin-top: 100px;
}

.sub {
	margin: 27px 0px !important;
	padding: 9px !important;
	background-color: #cccccc;
	color: black;  
	display: block; 
	padding: 6px 6px; 
	border-radius: 6px;
	white-space: nowrap;
	width: auto;
}

.tablehead {
	background-color: #333333;
    color: white;
}

.tree {
	display: "none";
}

.jsontree_tree {
	font-size: 12px;
}

.jsontree_value_string {
	color: blue;
}

.jsontree_value_number {
	color: orange;
}

div.box.tree {
	width: max-content;
}

.table .json {
	background-color: #fdfdfd;
}

.table .commit_currency {
	background-color: #f1f1f1;
}

.table .large_commit_risk {
	background-color: #eaeaea;
}


.table .fccount {
	background-color: #e4e4e4;
}

.table .ccount {
	background-color: #dfdfdf;

}

.table .risk {
	background-color: #dbdbdb;

}

.table .project {
	background-color: #d3d3d3;
}

/* tr:hover td {
	background-color: #e8e8e8 !important;
} */

tr.tablehead th {
	color: white;
}

.table thead td {
	vertical-align: middle;
	border-bottom: 1px solid #b3b3b3;
	overflow: visible;
	overflow-x: scroll;
}

div p strong {
	color: #1C398D;
}

.lowrisk, .mediumrisk {
	font-weight: bold;
}

.highrisk {
	font-weight: bold;
	background-color: orange !important;
	color: white;
	padding: 4px;
}

.criticalrisk {
	font-weight: bold;
	background-color: red !important;
	color: white;
	padding: 4px;
}

h1 > a {
	color: black;
}

td > a:hover {
	background-color: yellow;
	color: black;
	text-decoration: none;
}

.button > a {
	color: black;
}

.fa-fw, .fa-book, a > i {
	margin-right: 5px;
	font-size: 14px;
	margin-left: 0px;
}

a:link {
	font-family: Trebuchet MS, Arial, sans-serif;
}

.tooltip {
	position: relative;
	display: inline;
	margin-left: 5px;
}
  
.tooltip span.tooltiptext {
	visibility: hidden;
	width: 375px;
	background-color: #e6e6e6;
	color: black;
	text-align: center;
	padding: 5px 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 217%;
	left: 7px; 
	margin-left: -177px;
	overflow: visible;
	opacity: .8;
	font-size: 10px;
	border: 1px solid black;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 47%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

th .tooltip {
	position: relative;
	z-index: 30;
}

.table-container {
	overflow: visible;
}

.dropdown {
	margin-top: 64px;
}

.dropdown-content {
	border-bottom: 1px solid #333333;
	opacity: 1;
}

.dropdown .button > span {
	color: black;
	font-weight: 442;
}

.search {
	width: 584px;
	height: 44px;
	line-height: 44px;
	border: none;
	border-radius: 6px;
	margin-bottom: 18px;
	font: 16px arial, sans-serif;
	padding-left: 17px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.search:hover, .search:focus {
	outline: none;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.input-field .button {
	  margin-left: 11px;
}

#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 90px;
	background-color: #f0f0f0;
}

#gtri {
	  margin-top: 10px;
	  height: 65px;
	  width: 150px;
}

.github-corner:hover .octo-arm {
	  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave { 
	0%,100% {
		transform:rotate(0)
	}
	20%,60% {
		transform:rotate(-25deg)
	}
	40%,80% {
		transform:rotate(10deg)
	}
}
	
@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation:none
	}
	.github-corner .octo-arm {
		animation:octocat-wave 
  560ms ease-in-out}
}

.svg {
	fill:#151513; 
	color:#fff; 
	position: absolute; 
	top: 0; 
	border: 0; 
    right: 0;
}