<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LowEndInsight</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link href="https://gitcdn.xyz/repo/summerstyle/app.js/44a55639df5a58e93c41586f6ea6530adb8c44d9/reset.css" rel="stylesheet">
    <link href="https://gitcdn.xyz/repo/summerstyle/app.js/44a55639df5a58e93c41586f6ea6530adb8c44d9/app.css" rel="stylesheet">
    <link href="https://gitcdn.xyz/repo/summerstyle/jsonTreeViewer/master/libs/jsonTree/jsonTree.css" rel="stylesheet">
    <script src="https://gitcdn.xyz/repo/summerstyle/app.js/44a55639df5a58e93c41586f6ea6530adb8c44d9/App.js"></script>
    <script src="https://gitcdn.xyz/repo/summerstyle/jsonTreeViewer/master/libs/jsonTree/jsonTree.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href = "css/gh_trending.css">

  </head>
  <body>
  <script src="js/gh_trending.js" type="text/javascript"></script> 
  <section class="section">
      <div class="columns is-multiline is-centered">
        <div class="column is-narrow is-vcentered">
          <p>
            <br/>
            <img src="images/lei_bus_128.png">
          </p>
        </div>
        <div class="column">
          <h1 class="title">
            <a href="https://github.com/gtri/lowendensight" target="_blank">LowEndInsight</a>
          </h1>
          <p class="subtitle sub" >
            Analysis of Today's Github Trending Elixir Repos
          </p> 
          <div class="box reportbox">
          <p>
            <strong>Report generated:</strong> <%= report["metadata"]["times"]["end_time"] %>
          </p>
          <br/>
          <p>
            <strong>From:</strong> https://github.com/trending/elixir?since=daily
          </p>
          <br/>
          <p>
            <strong>Report ID:</strong> <%= report["uuid"] %>
          </p>
          </div>
        </div>
      </div>
  </section>
  <section class="section" id="report">
      <div class="table-container">
        <table class="table is-fullwidth is-striped" id="repo"  >
          <thead>
            <tr class="tablehead">
              <th><abbr title="Url" >URL</abbr></th>
              <th><abbr title="CCount">Contributor Count</abbr></th>
              <th><abbr title="FCCount">Functional Contributor Count</abbr></th>
              <th><abbr title="Risk">Risk</abbr></th>
              <th><abbr title="JSON">JSON</abbr></th>
            </tr>
          </thead>
          <tbody>     
          <%= for repo <- report["report"]["repos"] do %>

            <script defer type="text/javascript">

              var table = document.getElementById("repo");
              var url = "<%= repo["data"]["repo"] %>";
              var ccount = "<%= repo["data"]["results"]["contributor_count"] %>"
              var fccount = "<%= repo["data"]["results"]["functional_contributors"] %>"
              var risk = "<%= repo["data"]["risk"] %>";
              var jsondata = <%= Poison.encode!(repo) %>;

              displayRow(table, url, ccount, fccount, risk, jsondata);
            </script>

          <% end %>
              
          </tbody>
        </section>
      </div>
    </section>
  </body>
</html>
