<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LowEndInsight</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/json-tree-viewer@0.0.2/libs/jsonTree/jsonTree.css">
    <link rel="stylesheet" href = "../css/gh_trending.css">
    <script src="https://cdn.jsdelivr.net/npm/json-tree-viewer@0.0.2/libs/jsonTree/jsonTree.min.js"></script>
    <script type="text/javascript" defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <script src="../js/gh_trending.js" type="text/javascript"></script>
  <section class="section">
      <div class="columns is-multiline is-centered">
        <div class="column is-narrow is-vcentered">
          <p>
            <br/>
            <img src="../images/lei_bus_128.png">
          </p>
        </div>
        <div class="column" id="report-info-box">
          <h1 class="title">
            <a href="https://github.com/gtri/lowendensight" target="_blank">LowEndInsight</a>
          </h1>
          <p class="subtitle sub" >
            Analysis of Today's Github Trending Repos
          </p>
          <div class="box report-info-box">
          <p>
            <strong>Report ID:</strong> <%= report["uuid"] %>
          </p>
          <p>
            <strong>Report generated:</strong> <%= report["metadata"]["times"]["end_time"] %>
          </p>
          <p>
            <strong>From:</strong>
            <a href="https://github.com/trending/<%= language %>?since=daily">
              https://github.com/trending/<%= language %>?since=daily
            </a>
          </p>

          </div>
        </div>
        <div class="column">
          <div class = "dropdown">
               <div class = "dropdown-trigger">
                  <button class = "button is-warning" aria-haspopup = "true" aria-controls = "dropdown-menu">
                     <span><%= String.capitalize(language) %></span>
                     <span class = "icon is-small">
                        <i class = "fa fa-angle-down" aria-hidden="true"></i>
                     </span>
                  </button>
               </div>
               <div class = "dropdown-menu" id = "dropdown-menu" role = "menu">
                  <div class = "dropdown-content">
                    <%= for lang <- languages do %>
                     <a href="/gh_trending/<%= URI.encode_www_form(lang) %>" class = "dropdown-item"><%= lang %></a>
                    <% end %>
                  </div>
               </div>
            </div>
            <script>
               languages_button_event();
            </script>
          </div>
        </div>

      </div>

  </section>
  <section class="section" id="report">
      <div class="table-container">
        <table class="table is-fullwidth is-striped" id="repo"  >
          <thead>
            <tr class="tablehead">
              <th>Project</th>
              <th>Risk</th>
              <th>Contributor Count</th>
              <th>Functional Contributor Count
                <div class="tooltip">
                    <i class="fas fa-info-circle"></i>
                    <span class="tooltiptext">A functional contributor is one that contributes above a certain percentage of commits equal to or greater than their "fair" share.</span>
                  </div>
              </th>
              <th>JSON</th>
            </tr>
          </thead>
          <tbody>
            <%= for repo <- report["report"]["repos"] do %>
                <% {:ok, slug} = Helpers.get_slug(repo["data"]["repo"]) %>

                <script defer type="text/javascript">

                  var table = document.getElementById("repo");
                  var project = "<%= repo["data"]["repo"] %>";
                  var slug = "<%= slug %>";
                  var ccount = "<%= repo["data"]["results"]["contributor_count"] %>";
                  var fccount = "<%= repo["data"]["results"]["functional_contributors"] %>";
                  var risk = "<%= repo["data"]["risk"] %>";
                  var jsondata = <%= Poison.encode!(repo) %>;

                  display_row(table, project, slug, ccount, fccount, risk , jsondata);

                </script>

            <% end %>
          </tbody>
        </section>
      </div>
    </section>

  </body>
</html>
